instructions/second_step/versification_instructions.docx
instructions/second_step/versification_spreadsheet.xlsx
sources/MARTIN - 1707/step2/2.checking_with_AI/versification_instructions.docx
sources/MARTIN - 1707/step2/2.checking_with_AI/versification_spreadsheet.csv
sources/MARTIN - 1707/step2/2.checking_with_AI/versification_spreadsheet.xlsx
